/*Main*/

:root
{
	/*Green 50 https://material.io/design/color/the-color-system.html#tools-for-picking-colors #388E3C*/
	--background-color: #43A047;
	--letter-space-border-color: #2E7D32;
	--right: #388E3C;
	--near:  #6da043;
	--wrong: #0e2e10;

	/*New according to twitter*/
	--background-color: #1c2732;
	--letter-space-border-color: #38444d;
	--right: #43A047;
	--near: #ea9a3e;
	--wrong: #17191c;
	--bar-color: #38F;
}

body
{
	margin: 0;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

*
{
	user-select: none;
	font-family: 'Rubik', sans-serif;
	color: #FFF;
}

html, body, .holder
{
	height: 100%;
}

.holder
{
	width: 100%;
	max-width: 595px;
	padding: 5px;
	gap: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.center
{
	text-align: center;
}

.m-0
{
	margin: 0;
}

/*Header*/

#title
{
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 2em;
	margin: 0;
}

header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header button
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	padding: 0;
}

header button:active
{
	border: none;
	padding: 0;
}

header button span
{
	color: #65717b;
}

/*Board*/

@keyframes add_letter
{
	0% {transform: scale(1)}
	50% {transform: scale(1.05)}
	100% {transform: scale(1)}
}

@keyframes rm_letter
{
	0% {transform: scale(1)}
	50% {transform: scale(0.95)}
	100% {transform: scale(1)}
}

@keyframes shake
{
	0% {transform: translate(0, 0);}
	25% {transform: translate(5px, 0);}
	50% {transform: translate(0, 0);}
	75% {transform: translate(-5px, 0);}
	100% {transform: translate(0, 0);}
}

@keyframes reveal_letter
{
	0%       {-webkit-transform: perspective(300px) rotateY(0deg);   border-style: solid; background-color: transparent;}
	49.9999% {-webkit-transform: perspective(300px) rotateY(90deg);  border-style: solid; background-color: transparent;}
	50%      {-webkit-transform: perspective(300px) rotateY(-90deg); border-style: none;  background-color: var(--color);}
	100%     {-webkit-transform: perspective(300px) rotateY(0deg);   border-style: none;  background-color: var(--color);}
}

@keyframes reveal_key
{
	0% {background-color: var(--letter-space-border-color); color: #FFF}
}

@keyframes reveal_key_from_near
{
	0% {background-color: var(--near); color: #FFF}
}

.row
{
	display: flex;
	flex-direction: row;
}

#board
{
	width: 80%;
	max-width: 420px;
	display: grid;
	gap: 5px;
	grid-template-rows: repeat(6, 1fr);
}

#board > .row
{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(5, 1fr);
}

.letter_space
{
	aspect-ratio: 1;
    box-sizing: border-box;
	background-color: var(--letter-space-border-color);
	border-width: 5px;
	border-color: var(--letter-space-border-color);
	border-radius: 10%;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	touch-action: manipulation;
}

.edit_row > .letter_space
{
	background-color: transparent;
	border-color: var(--letter-space-border-color);
	border-style: solid;
}

.edit_letter
{
	border-bottom-width: 15px !important;
}

.right
{
	background-color: var(--right);
	--color: var(--right);
}

.near
{
	background-color: var(--near);
	--color: var(--near);
}

.wrong
{
	background-color: var(--wrong);
	--color: var(--wrong);
	color: #888;
}

/*Keyboard*/

#keyboard
{
	width: 100%;
	height: 25%;
	max-height: 250px;
	display: grid;
	gap: 5px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(32, 1fr);
}

kbd
{
	grid-column: span 3;
	width: 100%;
	background-color: var(--letter-space-border-color);
	border-radius: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	touch-action: manipulation;
}

#keyboard kbd > span
{
	font-size: inherit;
}

#keyboard > kbd:nth-child(11)
{
	grid-column: 2 / span 3;
}

#keyboard > kbd:nth-child(21)
{
	grid-column: 3 / span 3;
}

#keyboard > kbd:nth-child(20)
{
	grid-column: 30 / span 4;
}

#keyboard > kbd:nth-child(28)
{
	grid-column: 25 / span 9;
}

/* Modal */

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: var(--letter-space-border-color);
	width: 100%;
	max-width: 600px;
	padding: 48px;
	border-radius: 10px;
	border: 1px solid #65717b;
}

#stats .overview
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	gap:  5px;
}

#stats .overview > div
{
	width: 25%;
	text-align: center;
}

#stats .overview > div > p
{
	margin: 0;
}

#stats .overview > div .overview_value
{
	font-size: 36px;
}

#stats .distribution
{
	display: grid;
	gap: 5px;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 25px 1fr;
}

#stats .distribution .progress_title
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#stats .distribution .progress
{
	padding: 5px 0;
	width: 100%;
	min-width: 25px;
	box-sizing: border-box;
	background-color: var(--bar-color);
	display: flex;
	justify-content: right;
	align-items: center;
	border-radius: 4px;
}

#stats .distribution .progress > span
{
	width: 25px;
	text-align: center;
}

#timer
{
	font-size: 36px;
	margin: 0;
}

#stats .stats-footer
{
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
}

#stats .stats-footer button
{
	background-color:  var(--bar-color);
	border: none;
	display: flex;
	padding: 0 25px;
	border-radius: 10px;
	font-size: 18px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	touch-action: manipulation;
}

.letter-help
{
	width: 40px;
	aspect-ratio: 1;
    box-sizing: border-box;
	border-radius: 5px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	touch-action: manipulation;
	border-width: 3px;
	border-color: var(--background-color);
}

.other
{
	background-color: transparent;
	border-style: solid;
}

.inline-letter-help
{
	display: inline-flex;
	margin: 0 5px;
	width: 40px;
	height: 40px;
    box-sizing: border-box;
}

#help > p
{
	font-weight: 100;
}

/* Responsiveness */

@media (max-width: 630px)
{
	#title
	{
		font-size: 24px;
	}

	#board, #board > .row
	{
		gap: 0.9vw;
	}

	.letter_space
	{
		border-width: 0.9vw;
		font-size: 8vw;
	}

	.edit_letter
	{
		border-bottom-width: 2.5vw !important;
	}

	#keyboard
	{
		height: auto;
		aspect-ratio: 16 / 9;
	}

	#keyboard > kbd
	{
		font-size: 4vw;
		border-radius: 4px;
	}

	.modal-content
	{
		padding: 10px;
	}

	#stats .overview > div .overview_value
	{
		font-size: 24px;
	}

	#stats .overview
	{
		margin-bottom: 30px;
	}

	#timer
	{
		font-size: 22px !important;
	}

	#stats .stats-footer button
	{
		font-size: 12px;
		padding: 0 15px;
	}

	#stats .stats-footer
	{
		margin-top: 30px;
	}

	#stats .distribution
	{
		gap: 3px;
	}

	#stats p, span
	{
    	font-size: 12px;
	}

	#stats .m-0
	{
		margin: 0px;
	}
}