/*Main*/

:root
{
	/*Green 50 https://material.io/design/color/the-color-system.html#tools-for-picking-colors #388E3C*/
	--background-color: #43A047;
	--letter-space-border-color: #2E7D32;
	--right: #388E3C;
	--near:  #6da043;
	--wrong: #0e2e10;

	/*New according to twitter*/
	--background-color: #1c2732;
	--letter-space-border-color: #38444d;
	--right: #43A047;
	--near: #ea9a3e;
	--wrong: #17191c;
	--bar-color: #38F;
}

body
{
	margin: 0;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

*
{
	user-select: none;
	font-family: 'Rubik', sans-serif;
	color: #FFF;
}

.holder
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.center
{
	text-align: center;
}

.m-0
{
	margin: 0;
}

/*Header*/

#title
{
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin: 0;
}

header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:  center;
	margin: 10px 0;
}

header button
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

header button:active
{
	border: none;
	padding: 0;
}

header button span
{
	color: #65717b;
}

/*Board*/

@keyframes add_letter
{
	0% {transform: scale(1)}
	50% {transform: scale(1.05)}
	100% {transform: scale(1)}
}

@keyframes rm_letter
{
	0% {transform: scale(1)}
	50% {transform: scale(0.95)}
	100% {transform: scale(1)}
}

@keyframes shake
{
	0% {transform: translate(0, 0);}
	25% {transform: translate(5px, 0);}
	50% {transform: translate(0, 0);}
	75% {transform: translate(-5px, 0);}
	100% {transform: translate(0, 0);}
}

@keyframes reveal_letter
{
	0%       {-webkit-transform: perspective(300px) rotateY(0deg);   border-style: solid; background-color: transparent;}
	49.9999% {-webkit-transform: perspective(300px) rotateY(90deg);  border-style: solid; background-color: transparent;}
	50%      {-webkit-transform: perspective(300px) rotateY(-90deg); border-style: none;  background-color: var(--color);}
	100%     {-webkit-transform: perspective(300px) rotateY(0deg);   border-style: none;  background-color: var(--color);}
}

@keyframes reveal_key
{
	0% {background-color: var(--letter-space-border-color); color: #FFF}
}

@keyframes reveal_key_from_near
{
	0% {background-color: var(--near); color: #FFF}
}

#board
{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.row
{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.letter_space
{
	width: 80px;
	height: 80px;
	aspect-ratio: 1 / 1;
    box-sizing: border-box;
	background-color: var(--letter-space-border-color);
	border-width: 5px;
	border-color: var(--letter-space-border-color);
	border-radius: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.edit_row > .letter_space
{
	background-color: transparent;
	border-color: var(--letter-space-border-color);
	border-style: solid;
	border-radius: 10px;
}

.edit_letter
{
	border-bottom-width: 15px !important;
}

.right
{
	background-color: var(--right);
	--color: var(--right);
}

.near
{
	background-color: var(--near);
	--color: var(--near);
}

.wrong
{
	background-color: var(--wrong);
	--color: var(--wrong);
	color: #888;
}

/*Keyboard*/

#keyboard
{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px 0;
}

kbd
{
	width: 50px;
	height: 64px;
	background-color: var(--letter-space-border-color);
	border-radius: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#kbd_backspace
{
	margin-left: 10px;
	width: 60px;
}

#kbd_enter
{
	margin-left: 10px;
	width: 150px;
}

kbd span
{
	font-size: inherit !important;
}

#keyboard .row
{
	gap: 5px;
}

#keyboard .row:nth-child(2)
{
	margin-left: 20px;
}

#keyboard .row:nth-child(3)
{
	margin-left: 40px;
}

/* Modal */

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: var(--letter-space-border-color);
	width: 100%;
	max-width: 600px;
	padding: 48px;
	border-radius: 10px;
	border: 1px solid #65717b;
}

.progress_title
{
	width: 25px;
	height: 25px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress
{
	padding: 5px 0;
	width: 100%;
	min-width: 25px;
	background-color: var(--bar-color);
	display: flex;
	justify-content: right;
	align-items: center;
}

.progress span
{
	width: 25px;
	text-align: center;
}

#timer
{
	font-size: 36px;
	margin: 0;
}

#stats .distribution .row
{
	gap: 0;
	align-items: center;
}

#stats .overview
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

#stats .overview div
{
	width: 25%;
	text-align: center;
}

#stats .overview div .value
{
	font-size: 36px;
}

#stats .stats-footer
{
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
}

#stats .stats-footer button
{
	background-color:  var(--bar-color);
	border: none;
	display: flex;
	padding: 0 25px;
	border-radius: 10px;
	font-size: 18px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.letter-help
{
	width: 40px;
	height: 40px;
    box-sizing: border-box;
	border-radius: 5px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-width: 3px;
	border-color: var(--background-color);
}

.other
{
	background-color: transparent;
	border-style: solid;
}

.inline-letter-help
{
	display: inline-flex;
	margin: 0 5px;
	width: 40px;
	height: 40px;
    box-sizing: border-box;
}

#help > p
{
	font-weight: 100;
}

/* Responsiveness */

@media (max-width: 630px)
{
	.letter_space
	{
		width: 50px;
		height: 50px;
		border-width: 4px;
		border-radius: 6px;
		font-size: 40px;
	}

	.edit_letter
	{
		border-bottom-width: 10px !important;
	}

	kbd
	{
		width: 24px;
		height: 50px;
		font-size: 12px;
		border-radius: 4px;
	}

	#kbd_backspace
	{
		margin-left: 4px;
		width: 24px;
	}

	#kbd_enter
	{
		margin-left: 4px;
		width: 62px;
	}

	.modal-content
	{
		padding: 10px;
	}

	#timer
	{
		font-size: 22px !important;
	}

	#stats .stats-footer button
	{
		font-size: 12px;
		padding: 0 15px;
	}

	#stats .overview
	{
		margin-bottom: 30px;
	}

	#stats .stats-footer
	{
		margin-top: 30px;
	}

	#stats p, span
	{
    	font-size: 12px;
	}

	#stats .m-0
	{
		margin: 3px;
	}
}